In [1]:
import dash
import dash_core_components as dcc
import plotly.graph_objs as go
import dash_html_components as html
import pandas as pd
import numpy as np

In [2]:
app = dash.Dash()

In [3]:
orders = pd.read_csv('sales.csv')

In [4]:
orders

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [8]:
orders.columns.tolist( )

['Region',
 'Country',
 'Item Type',
 'Sales Channel',
 'Order Priority',
 'Order Date',
 'Order ID',
 'Ship Date',
 'Units Sold',
 'Unit Price',
 'Unit Cost',
 'Total Revenue',
 'Total Cost',
 'Total Profit']

In [10]:
app.layout = html.Div([
            
    
    dcc.Graph(
        id = 'scatter_chart',
        figure = {
            'data' : [
                go.Scatter(
                    x = orders['Country'],
                    y = orders['Total Profit'],
                    mode = 'markers'
                    
                    )
                
            ],
            'layout' : go.Layout(
                title = 'Scatterplot of random 60 points',
                xaxis = { 'title' : 'Sales'},
                yaxis = { 'title' : 'Profit'}
            
            )
        }
        
        

        
        
    )
])

In [ ]:
if __name__ == '__main__':
    app.run_server(port=4050)

Dash is running on http://127.0.0.1:4050/

 Warning: This is a development server. Do not use app.run_server
 in production, use a production WSGI server like gunicorn instead.

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4050/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Jun/2020 22:04:22] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Jun/2020 22:04:22] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Jun/2020 22:04:22] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [25/Jun/2020 22:15:01] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Jun/2020 22:15:02] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Jun/2020 22:15:02] "GET /_dash-dependencies HTTP/1.1" 200 -